.spinner-container {
    display: block;
    margin: 1em auto;
    width: fit-content;
}

.briefing-card{
    margin: 2em 0 4em 0;
}

.button-container {
    display: flex;
    justify-content: end;
    margin-bottom: 5em;
}