<section class="multiple-question" [formGroup]="control">
    <div class="question-caput">
        <label id="radio-question"><span class="pergunta">Pergunta: </span>{{question.caput}}</label>
    </div>
    <div class="option-container"><mat-checkbox *ngFor="let option of question.options" [formControlName]="option.text">
        <div class="option-content">
            <img *ngIf="option.image" [src]="option.image" [alt]="option.text">
            <p>{{option.text}}</p>
        </div>
    </mat-checkbox></div>
</section>