.spinner-container {
    display: block;
    margin: 1em auto;
    width: fit-content;
}

.feedback-card{
    margin: 2em 0 4em 0;
}

.textarea-wrapper {
    width: 100%;
}

.button-wrapper {
    display: flex;
    justify-content: end;
}